@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
html{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fturbofuture.com%2Finternet%2FHow-To-Create-Cool-Website-Backgrounds-The-Ultimate-Guide&psig=AOvVaw0ke7TvO7WQu3GrJHnEHab-&ust=1676891829904000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLjgl4G7of0CFQAAAAAdAAAAABAJ);
    background-size: cover;
    background-attachment: fixed;
}
.mem{
    display: flex;
    flex-direction: row;
    padding-top: 400px;
    justify-content: center;
    align-items: center;
}
.mem :nth-child(1){
    margin-left: 20px;
}
.name{
    font-size: 30px;
    text-decoration: none;
    font-family: 'Julee', cursive;
}
.img{
    width: 300px
}
.mem-s{
    display: flex;
    flex-direction: column;
}
.mem-p{
    padding-left: 50px;
}
