@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
html{
    background-image: url(homebg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.mem{
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    justify-content: center;
    align-items: center;
}
.mem :nth-child(1){
    margin-left: 40px;
}
.name{
    font-size: 30px;
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
}
.img{
    width: 300px;
    height: 300px;
    border-radius: 300px;
}
.mem-s{
    display: flex;
    flex-direction: column;
}
.mem-p{
    text-align: center;
}
h1{
    text-align: center;
    margin-top: 100px;
}
h2{
    text-align: center;
}
@media screen and (max-width: 600px)
{
    .mem{
        flex-direction: column;
        width: 290px;
        padding-top: 100px;
    }
    .img{
        width: 200px;
        height: 200px;
        border-radius: 200px;
    }
    .mem-p{
        padding-left: 20px;
        font-size: 25px;
    }
}
